<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.o">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>index</title>
    </head>
    <body>
        <div class="vertical-menu">
            <!-- <ul> -->
                <a href="/employees-id">Get Employ by ID</a>
               <a href="/employees-add">Add new employee </a>
                <a href="/employees-delete">delete employee</a>
                <a href="/employees-update">Update employee</a>
                <a href="/employees">Get all employees</a>
                <a href="/report-add">Add A report</a>
                <a href="/reports">Get A report</a>
            <!-- </ul> -->

            <!-- <ol> -->
                <a href="/reports">Get a Customer by ID</a>
                <a href="/customers-add">Add new Customer</a>
                <a href="/customers-delete">Delete a Customer</a>
                <a href="/customers">Get all customers</a>
                <a href="/customers-update">Update a Customer's info</a>
            <!-- </ol> -->
            </div>
        
    </body>  
</html>